---
BasedOnStyle: Google
AlignAfterOpenBracket: BlockIndent
AlwaysBreakTemplateDeclarations: No
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortLoopsOnASingleLine: false
BreakBeforeBinaryOperators: NonAssignment
ColumnLimit: 100
ContinuationIndentWidth: 2
IndentWidth: 2
UseTab: Never

...
